@font-face {
    font-family: BariolRegular;
    src: url(resources/Bariol-Regular-Webfont/bariol_regular-webfont.woff2);
    font-weight: normal;
    font-style: normal;

}

body {
	font-family: BariolRegular;

}

#wrapper {
	/*makes sure the wrapper is centered at ALL times*/
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;

	color: #f1f2f6;
}

.hugeBox {
	top: 0;
	left: 0;
	height: 100%;
	width: 67%;
	float: left;
	background: url(cssart/stars-01.png);
	background-size: 500px;
	position: relative;


}

.tinyBox {
	position: relative;
	float: left;
	top: 0;
	right: 0;
	width:33%;
	height: 50%;
}

.boxTitle {
	position: absolute;
	font-size: 48px;
	font-weight: bold;
	left: 0;
	bottom: 0;
	text-shadow: 1.5px 1.5px black, 3px 3px #223baf;

}

.boxInfo {
	font-size: 24px;
	font-weight: 400;
	text-shadow: none;
}

#education {

}

#merit {

}

#initial {
	margin: 3%;
	padding: 0;

	background: url(resources/wlogo2.png);
	background-repeat: no-repeat;
	background-size: contain;

	height: 100px;

}

ul.boxTitle {
    list-style-type: none;
    margin: 0;
    padding: 25px;

}

::selection {
  background: orange; 
}

